#background {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: url("../images/prostate-cancer-bg.jpg") 0 0 no-repeat fixed;
    background-size: cover;
}

.container {
    padding-bottom: 45px;
}

.labels {
    display: inline-block;
    overflow: hidden;
    width: 20%;
    min-width: 13rem;
    max-width: 40%;
    padding: 10px;
    padding-bottom: 5px;
}
.labels img {
    width: inherit;
    min-width: inherit;
    max-width: inherit;
}

.labels img {
    border-radius: 100%;
}   

.footer-img {
    max-width: 55px;
    display: inline-block;
}

.right {
    float: right;
}
.left {
    float: left;
}

.button {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.body a {
    color: blue;
}

.data_table {
    background-color: lightgrey;
}

#chartdiv {
  width: 100%; 
  height: 300px;
}

.amcharts-export-menu-top-right {
  top: 10px;
  right: 0;
}