.ui-page {
    background: transparent;
}

.ui-content {
    background: transparent;
}

span {
    font-weight: normal;
}

.body {
    display: block;
    width: 80%;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.8rem;
    padding-bottom: 1rem;
    background-color: white;
    text-align: center;
    border: 5px solid black;
    border-radius: 12px;
}

.body-description {
    display: none;
    padding: 0.5rem;
    margin: auto;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    border-radius: 12px;
    background-color: aquamarine;
}


.body h1 {
    font-size: 1.1em;
    background-color: lightgrey;
    display: inline-block;
    border-radius: 20px;
    padding: 7px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.8);
}
.body p {
    font-size: 0.9em;
}
.body ul li {
    font-size: 0.9em;
    text-align: left;
}

.center {
    color: black;  
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

table {
    width: 24%;
    min-width: 14em;
    display: inline-table;
    table-layout: fixed;
    border-collapse: collapse;
    margin-bottom: 1em;
}
th, td {
    font-size: 0.9em;
    border: 2px solid black;
}

.title {
    display: inline-block;
    font-weight: bold;
    font-size: 1em;
    text-decoration: underline;
    color: inherit;
}

.inline-block {
    display: inline-block;
}
.border-radius {
    border-radius: 10px;
}
.center {
    text-align: center;
}
.no-decoration {
    text-decoration: none;
}