html,
body {
    background-image: url("../images/cool-background.jpg");
    overflow-x: hidden;
}
body {
    padding-top: 100px;
}
footer {
    padding: 30px 0;
}

* {
    color: black;
    text-align: center;
    margin: 0;
}

hr {
    margin-top: 15px;
    border: 1px solid black;
}

mark {
    color: black;
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
    color: inherit;
}
a:visited {
    text-decoration: none;
    color: inherit;
}

.NavMenu {
    position: fixed;
    width: 200%;
    top: 0;
}

.NavItem {
    display: inline-block;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.8);
    border: 3px solid black;
    background-color: darkorange;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 8px;
    top: -0.4em;
    left: -25%;
    position: relative;
    font-size: 1.4em;
    color: black;    
}

.body {
    display: block;
    width: 80%;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.8rem;
    padding-bottom: 1rem;
    background-color: white;
    text-align: center;
    border: 5px solid black;
    border-radius: 12px;
}

.body-description {
    display: none;
    padding: 0.5rem;
    margin: auto;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    border-radius: 12px;
    background-color: aquamarine;
}


.body h1 {
    font-size: 1.1em;
    background-color: grey;
    display: inline-block;
    border-radius: 20px;
    padding: 7px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.8);
}
.body p {
    font-size: 0.9em;
}
.body ul li {
    font-size: 0.9em;
    text-align: left;
}

.body img {
    width: 100%;
}

.body a {
    color: red;
    text-decoration: underline;
}

.center {
    color: black;  
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

table {
    width: 24%;
    min-width: 14em;
    display: inline-table;
    table-layout: fixed;
    border-collapse: collapse;
    margin-bottom: 1em;
}
th, td {
    font-size: 0.9em;
    border: 2px solid black;
}

.news {
}
.news h1 {
    background-color: grey;
    display: inline-block;
    border-radius: 20px;
    padding: 7px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.8);
}
.news-item {
    display: inline-block;
    text-decoration: underline;
    color: mediumblue;
    cursor: pointer;
}

.description {
    display: none;
    text-decoration: none;
}

.current {
    
}

.title {
    display: inline-block;
    font-weight: bold;
    font-size: 1em;
    text-decoration: underline;
    color: inherit;
}

#extra-bg {
    width: 100%;
    height: 14em;
    border-radius: 12px 12px 0px 0px;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: -1.25rem;
}

#transition-in p {
    opacity: 0;

    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}

#transition-out p {
    opacity: 1;

    -webkit-transition: opacity 2s ease-out;
    -moz-transition: opacity 2s ease-out;
    -o-transition: opacity 2s ease-out;
    -ms-transition: opacity 2s ease-out;
    transition: opacity 2s ease-out;
}